apiai
blinker
certifi
chardet
checkbox-support
cryptography
eventlet
feedparser
future
greenlet
gTTS
gTTS-token
guacamole
html5lib
httplib2
idna
Jinja2
lxml
MarkupSafe
numpy
oauthlib
padme
pexpect
Pillow
plainbox
ptyprocess
pyasn1
pycurl
pygame
PyJWT
pyparsing
pyTelegramBotAPI
python-telegram-bot
pyxdg
reportlab
requests
urllib3
virtualenv
